<p id="notice"><%= notice %></p>
<h1><%= @user.username %>'s Page</h1>
<p>
  <strong>Name:</strong> <%= @user.name %>
</p>
<p>
  <strong>Birthday:</strong> <%= @user.birthday.strftime("%m/%d/%y") %>
</p>
<h3>Blog Posts By <%= @user.username %></h3>
<div class="row">
  <% @blog_posts.each do |blog_post| %>
    <div class="col-md-12">
      <%= render partial: 'blog_panel', locals: { blog_post: blog_post } %>
      <!-- <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to blog_post.title.titleize, blog_post %>
        </div>
        <div class="panel-body">
          <p>
            <span class="posted-at">Published: <%= blog_post.created_at.strftime("%m/%d/%y %I:%M %P") %></span>
          </p>
          <p>
            <%= truncate(blog_post.blog_entry, length: 250) %><%= link_to "[Read More]", blog_post %>
          </p>

        </div>
        <% if current_user.id == @user.id %>
        <div class="panel-footer">
          <%= link_to "Edit", edit_blog_post_path(blog_post), class: "btn btn-warning" %>
          <%= link_to "Delete", blog_post, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </div>
        <% end %>
      </div> -->
    </div>
  <% end %>
</div>
